#menu-nav {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: rgb(217, 66, 159);
	z-index: 1;
	height: 60px;
	display: flex;
	margin: auto;
}

.col-centro {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nombre-pagina {
	width: 80%;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.nombre-pagina a {
	font-size: 1em;
	text-decoration: none;
	color: rgb(255, 225, 230);
}

.back-legend {
	font-size: 0.7em;
	color: rgb(255, 225, 230);
}

body {
	margin-top: 60px;
}

@media (min-width: 850px) and (max-width: 1300px) {
	#menu-nav {
		height: 60px;
	}

	.col-centro {
		width: 100%;
		justify-content: space-around;
	}

	.nombre-pagina {
		padding: 10px;
		font-size: 1.3rem;
	}
	.back-legend {
		font-size: 0.9em;
		color: rgb(255, 225, 230);
	}
}

@media (min-width: 750px) and (max-width: 900px) {
	/* Menu Navegador */

	#menu-nav {
		height: 60px;
	}

	.col-centro {
		width: 100%;
		justify-content: space-around;
	}

	.nombre-pagina {
		padding: 15px 0;
		font-size: 1.3rem;
	}
	.back-legend {
		font-size: 0.8em;
		color: rgb(255, 225, 230);
	}
}

@media (max-width: 750px) {
	/* Menu Navegador */
	body {
		margin-top: 100px;
	}
	#menu-nav {
		width: 100%;
		height: 100px;
	}

	.col-centro {
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	.nombre-pagina {
		margin: auto;
		font-size: 1.3rem;
		padding: 5px 0;
	}
	.back-legend {
		font-size: 0.8em;
		color: rgb(255, 225, 230);
	}
}
