h1 {
	background-color: aqua;
}

p {
	background-color: rgb(169, 169, 244);
	font-weight: 700;
}

img {
	width: 300px;
}

.contenedorClase {
	background-color: chartreuse;
}

#contenedorId1 {
	border: 5px solid deeppink;
	width: 50%;
}

/* #contenedorId1 {
	border: 10px dashed red;
} */
